/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Container styles */
.containers {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
}

/* Navigation styles */
.nav-bar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav-bar a {
    color: #fff;
    margin-right: 20px; 
}

/* Image styles */
.im {
    text-align: center;
    margin: 20px 0;
}
/* Image container styles */
.image-container {
    position: relative;
    width: 100%; /* Adjust as needed */
    height: 400px; /* Adjust as needed */
    overflow: hidden;
    /* margin-left: 22px; */
}

/* Image styles */
.image-container img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

/* Overlay styles */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

/* Text styles */
.overlay .text {
    padding: 20px;
}

/* Hover effect */
.image-container:hover .overlay {
    opacity: 1;
}


/* Button styles */
button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #555;
}

/* Card styles */
.wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}

.card {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-sizing: border-box;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
}

.card-content {
    padding: 10px;
    background-color: #f9f9f9;
}

.card-content h3 {
    margin-top: 0;
}

/* Footer styles */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-left,
.footer-center,
.footer-right {
    margin-bottom: 20px;
}

.footer-left span {
    font-weight: bold;
}

.sociallist {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.sociallist ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.sociallist ul li {
    margin-right: 10px;
}

.sociallist ul li a {
    color: #fff;
}

/* Responsive styles */
@media (max-width: 768px) {
    .nav-bar {
        flex-direction: column;
        align-items: center;
    }

    .nav-bar a {
        margin: 10px 0;
    }

    .card {
        width: calc(50% - 20px);
    }
}
